.App {
  text-align: center;
  cursor: pointer;
}

h1{
  padding: 5px;
  margin: 5px;
}

body{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/5d71e6144488883.628d41e6092e1.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
}

/* NAVBAR */
img{
  width: 80px;
  padding: 5px;
}

.color-nav{
  background-color:#E0BBE4;
  font-weight: bold;
}

.nav-link{
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 5px rgb(169, 169, 169);
}

.nav-link:hover{
  background-color: white;
  color: black;
}

.nav-link:active {
  background-color: #E0BBE4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}