/* GENERAL */
.App {
  cursor: pointer;
}

.home{
  text-align: center;
  padding: 5px;
  margin: 5px;
  margin: 10% 100px;
}

body{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/5d71e6144488883.628d41e6092e1.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  font-family: 'Silkscreen', cursive;
}

/* NAVBAR */
.NavBar img{
  width: 80px;
}

.nav{
  background-color:#E0BBE4;
  font-weight: bold;
  padding: 2px;
}

.NavBar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index:999;
}

.nav-link{
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 5px rgb(169, 169, 169);
}

.nav-link:hover{
  background-color: white;
  color: black;
}

.nav-link:active {
  background-color: #E0BBE4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* INDEX */
.games Table{
  background-color:white;
  font-weight: bold;
}

.index{
  text-align: center;
  opacity: 80%;
  background-color: white;
  margin: 15% 100px;
}

/* SHOW */
.show{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 15% 200px;
  text-align: center;
}

.show Button {
  border: 1px solid white;
  padding: 10px;
  margin: 5px 5px 20px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 5px rgb(169, 169, 169);
  background-color: #E0BBE4;
  font-weight: bold;
}

.show Button:hover{
  background-color: white;
  color: black;
}

.show Button:active {
  background-color: #E0BBE4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* NEW */
.new{
  opacity: 80%;
  background-color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-weight: bold;
  margin: 15% 200px;
}

.new-form h1{
  text-align: center;
}

.new-form Button {
  border: 1px solid white;
  padding: 5px;
  margin: 5px 5px 20px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 5px rgb(169, 169, 169);
  background-color: #E0BBE4;
  font-weight: bold;
}

.new-form Button:hover{
  background-color: white;
  color: black;
}

.new-form Button:active {
  background-color: #E0BBE4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* EDIT */
.edit{
  opacity: 80%;
  background-color: white;
  font-weight: bold;
  margin: 15% 200px;
}

.edit-form h1{
  text-align: center;
}

.edit-form Button {
  border: 1px solid white;
  padding: 5px;
  margin: 5px 5px 20px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 5px rgb(169, 169, 169);
  background-color: #E0BBE4;
  font-weight: bold;
}

.edit-form Button:hover{
  background-color: white;
  color: black;
}

.edit-form Button:active {
  background-color: #E0BBE4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ERROR */
.error{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 100px 5px 20px;
  opacity: 90%;
}

.error Button {
  border: 1px solid white;
  padding: 5px;
  margin: 5px 240px 20px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 5px rgb(169, 169, 169);
  background-color: #E0BBE4;
  font-weight: bold;
}

.error Button:hover{
  background-color: white;
  color: black;
}

.error Button:active {
  background-color: #E0BBE4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.error h1{
  text-align: center;
}

/* FOOTER */
.footer{
  padding: 5px;
  background-color: #E0BBE4;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img{
  width: 30px;
  margin: 5px;
}

.footer-text{
  padding-top: 15px;
  margin-right: 10px;
}